* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  width: 100%;
  min-height: 100vh;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/FondoHero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: bg-pan-tl 15s infinite alternate; }
  @media (max-width: 768px) {
    .header {
      height: auto;
      animation: bg-pan-tl 30s infinite alternate;
      min-height: auto; } }
  .header .bg-dark {
    z-index: 20;
    width: 100%; }
    .header .bg-dark .a {
      color: #ffffffe0 !important;
      font-family: 'Montserrat';
      font-size: 23px;
      padding: 10px 15px;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 3px 3px 2px rgba(0, 0, 2, 0.7); }
  .header .text-header {
    min-height: 100vh;
    color: #ffffffe0;
    font-family: 'Montserrat'; }
    .header .text-header .h2-header {
      font-family: 'Anton';
      font-size: 2rem;
      color: #ffffffe0;
      letter-spacing: 5px; }
      .header .text-header .h2-header span {
        letter-spacing: 5px;
        color: #146bb3e0;
        font-size: 3rem;
        margin: 0 0 0 5px; }
    .header .text-header p {
      font-size: 1rem; }
    .header .text-header .btn-yo {
      padding: 7px 12px;
      color: #ffffffe0;
      background-color: #146bb3e0;
      border-radius: 5%; }
  @media (max-width: 768px) {
    .header .text-header {
      min-height: 50vh; }
      .header .text-header .h2-header {
        letter-spacing: 1px;
        font-size: 1.5rem; }
        .header .text-header .h2-header span {
          letter-spacing: 1px;
          font-size: 2rem; } }
  .header a {
    color: #146bb3e0 !important;
    font-family: 'Montserrat';
    font-size: 23px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 2px rgba(0, 0, 2, 0.7); }

.bg-pan-tl {
  -webkit-animation: bg-pan-tl 20s linear forwards;
  animation: bg-pan-tl 20s linear forwards; }

section {
  margin-bottom: 2rem; }

.menuUl {
  display: flex;
  justify-content: center;
  background-color: #ffffffe0; }

.bg-pan-tl {
  -webkit-animation: bg-pan-tl 20s linear forwards;
  animation: bg-pan-tl 20s linear forwards; }

.navg a:hover {
  background-color: #146bb3e0;
  border-radius: 10%; }

.btn-yo:hover {
  color: black;
  box-shadow: 8px 10px 10px 1px rgba(0, 0, 0, 0.5); }

@media (min-width: 768px) {
  .header:before .bg-dark {
    background-color: transparent !important; } }

@media (min-width: 992px) {
  .header:before .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem; } }

@-webkit-keyframes bg-pan-tl {
  0% {
    background-position: 100% 100%; }
  100% {
    background-position: 0% 0%; } }

@keyframes bg-pan-tl {
  0% {
    background-position: 100% 100%; }
  100% {
    background-position: 0% 0%; } }

body {
  background: linear-gradient(0deg, #ffffff 0%, #267ca1 100%); }
  body #containter-cards {
    padding: 1rem;
    background-color: #ffffffe0;
    border-radius: 2%; }

.card {
  border: none; }
  .card .card-button {
    padding: 7px 12px;
    color: #ffffffe0;
    background-color: #146bb3e0;
    border-radius: 5%;
    border: none; }
  @media (max-width: 768px) {
    .card {
      margin-bottom: 3rem; } }

h3 {
  padding: 1rem;
  color: #146bb3e0; }

@media (max-width: 768px) {
  h3 {
    color: #ffffffe0;
    z-index: -1; } }

h5 {
  color: #146bb3e0; }

.navg a {
  color: #ffffffe0 !important;
  font-family: 'Montserrat';
  font-size: 23px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 3px 2px rgba(0, 0, 2, 0.7); }

.heroQuienesSomos {
  justify-content: space-around; }
  .heroQuienesSomos .heroQuienesSomosTexto {
    color: #fcfdfd;
    font-weight: bolder;
    text-shadow: 7px 4px 5px black;
    font-size: large; }

.card {
  overflow: hidden; }

.cardLavadero {
  margin-bottom: 3rem; }
  .cardLavadero img {
    margin-bottom: 2rem;
    -moz-trasition: all 0.8s;
    -webkit-trasition: all 0.8s;
    transition: all 0.8s; }

.cardLavadero:hover img {
  -moz-transforms: scale(1.2);
  transform: scale(1.2); }

.trabajo {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative; }

.trabajo::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  background: #ffffffe0;
  border: 2px solid #000000;
  position: absolute;
  z-index: 2;
  top: calc(50% - 9px);
  left: calc(50% - 9px); }

.modelo {
  font-family: 'Anton';
  font-size: 2rem;
  color: #ffffffe0;
  color: #146bb3e0;
  display: flex;
  align-items: center;
  justify-content: start;
  width: calc(42% + 20px);
  font-size: 32px;
  font-weight: normal; }

.foto {
  width: 42%;
  border: 10px solid #fff;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }

.foto::after {
  content: "";
  display: block;
  border: 20px solid transparent;
  border-left: 20px solid #fff;
  position: absolute;
  right: -50px;
  top: calc(50% - 20px); }

.foto img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  background-image: url(../images/FondoHero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.trabajo:nth-child(even) {
  flex-direction: row-reverse; }

.trabajo:nth-child(even) .modelo {
  justify-content: end; }

.trabajo:nth-child(even) .foto::after {
  content: "";
  border: 20px solid transparent;
  border-right: 20px solid #fff;
  right: initial;
  left: -50px; }

.bodyServicios {
  background: linear-gradient(0deg, #ffffff 0%, #267ca1 100%); }

.servicios {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-evenly; }
  .servicios .serviciosBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: bg-pan-tl 30s infinite alternate; }
    .servicios .serviciosBody .serviciosTitulo {
      color: #ffffffe0;
      z-index: 1; }
    .servicios .serviciosBody .serviciosBodyText {
      padding: 1rem;
      color: #ffffffe0;
      z-index: 1; }

.serviciosBody:before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 8, 8, 0.356), rgba(19, 18, 0, 0)); }

.comparativo h2 {
  color: #ffffffe0;
  margin-bottom: 1rem; }

.comparativo th {
  color: #ffffffe0; }

.comparativo td {
  color: #ffffffe0; }

.formulario {
  height: 90vh; }
  @media (max-width: 768px) {
    .formulario {
      height: auto; } }
  .formulario .formularioSection {
    border: none;
    padding: 1rem 1rem;
    border-radius: 5%;
    box-shadow: 5px 5px 15px #286a88;
    background: #e7d7d76b; }
    .formulario .formularioSection .formularioTexto {
      color: #146bb3e0; }
    .formulario .formularioSection .formularioLabel {
      color: #146bb3e0; }

.menuUL {
  margin: -15px;
  padding-bottom: 1rem; }

.menuLifoter, li {
  list-style: none;
  padding: 1rem;
  margin-bottom: -15px; }

footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #343a40; }
  footer li {
    padding: 1rem;
    display: inline-block;
    padding: 0 15px; }
    footer li a {
      color: #ffffffe0; }
  footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    margin-bottom: 0;
    text-align: center; }
  footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 10px;
    color: #ffffffe0; }
  footer .redes {
    text-align: center;
    padding-bottom: 25px; }
    footer .redes a {
      font-size: 20px;
      color: #ffffffe0;
      font-size: 20px;
      border: 1px solid;
      width: 40px;
      height: 40px;
      line-height: 38px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      margin: 0 8px; }

a:hover {
  opacity: 1;
  animation: none; }

.menuUL {
  margin: -15px;
  padding-bottom: 1rem; }

.menuLifoter, li {
  list-style: none;
  padding: 1rem;
  margin-bottom: -15px; }

li {
  padding: 1px; }

.modal-body {
  background: #22c1c3;
  background: linear-gradient(0deg, #22c1c3 0%, #1d7a89 0%, #1d7f8d 0%, #1f629a 58%, #151638 100%); }

.modal-header {
  border: none; }

label {
  color: white; }

.modalCheck {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem; }
