body{
    background:  map-get($colores, "myBackground" );
    #containter-cards{
        padding: 1rem;
        background-color:  map-get($colores, "myWhite" );
        border-radius: 2%;
    }
	
}

.card{
	border: none;
	.card-button {
		@include boton;
		border: none;
	}
	@include movil {
		margin-bottom: 3rem;
		
	}
	
}
		
 h3 {
	 padding: 1rem;
	 color:  map-get($colores, "myBlue" )
	 
	
	}
	@include movil {
		h3{color:  map-get($colores, "myWhite" ); 
		z-index: -1;
		}
	}

h5{
    color:  map-get($colores, "myBlue" ); 
}

.navg a{
    color:  map-get($colores, "myWhite" )!important;
    font-family: 'Montserrat' ;
    font-size: 23px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 2px rgba(0, 0, 2, 0.7);
  }

  .heroQuienesSomos{
    justify-content: space-around;
	.heroQuienesSomosTexto{
		color: rgb(252, 253, 253);
	}
  }

  .cardLavadero {
    margin-bottom: 1rem;
	
  }

.trabajo {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	margin-bottom: 100px;
	position: relative;
}

.trabajo::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background:  map-get($colores, "myWhite" );
	border: 2px solid #000000;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}

.modelo {
	@include h2Hero;
	color: map-get($colores, "myBlue" );
	display: flex;
	align-items: center;
	justify-content: start;
	width: calc(42% + 20px);
	font-size: 32px;
	font-weight: normal;
}

.foto {
	width: 42%;
	border: 10px solid #fff;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.foto::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid #fff;
	position: absolute;
	right: -50px;
	top: calc(50% - 20px);
}

.foto img {
	width: 100%;
	height: 100%;
	vertical-align: top;
	background-image: url(../images/FondoHero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.trabajo:nth-child(even) {
	flex-direction: row-reverse;
}

.trabajo:nth-child(even) .modelo {
	justify-content: end;
}

.trabajo:nth-child(even) .foto::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid #fff;
	right: initial;
	left: -50px;
}

.bodyServicios{
	background:  map-get($colores, "myBackground" );
}

.servicios{
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: column;
    align-items: center;
	min-height: 100vh;
	justify-content: space-evenly;
	.serviciosBody{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
    	animation: bg-pan-tl 30s infinite alternate;
		.serviciosTitulo{
			color:  map-get($colores, "myWhite" );
			z-index: 1;
		}
		.serviciosBodyText{
			padding: 1rem;
			color:  map-get($colores, "myWhite" );
			z-index: 1;
		}	
	}
	}

	.serviciosBody:before{
		content: "";
		width: 100%;
		min-height: 100vh;
		position: absolute;
		top:0;
		left: 0;
		background-image: linear-gradient(rgba(0, 8, 8, 0.356), rgba(19,18,0, 0));
		
}


.formulario {
	height: 90vh;
	@include movil {
	height: auto;	
	
	}
	.formularioSection{
		border: none;
		padding: 1rem 1rem;
		border-radius: 5%;
		box-shadow: 5px 5px 15px #286a88;
		background: #e7d7d76b;
		.formularioTexto{
			color:map-get($colores, "myBlue" );
			
		}
		.formularioLabel {
			color: map-get($colores, "myBlue" );
			
		}
	}	
}


.menuUL {
	margin: -15px;
	padding-bottom: 1rem
  }
  
  .menuLifoter{
	 @include none;
	  padding: 1rem;
	  margin-bottom: -15px;
	}
  
	

footer {
	padding-top: 3rem;
	padding-bottom: 1rem;
	background-color: #343a40;
	li {
		padding: 1rem;
		display: inline-block;
		padding: 0 15px;
		a{
			color: map-get($colores, "myWhite" );

		}
	}
	ul{
		margin-top: 0;
		padding: 0;
		list-style: none;
		font-size: 15px;
		margin-bottom: 0;
		text-align: center;
	}
	.copyright{
		margin-top: 15px;
		text-align: center;
		font-size: 10px;
		color: map-get($colores, "myWhite" );

	}
	.redes{
		text-align: center;
		padding-bottom: 25px;
		
		a {
			font-size: 20px;
			color: map-get($colores, "myWhite" );
			font-size: 20px;
			border: 1px solid;
			width: 40px;
			height: 40px;
			line-height: 38px;
			display: inline-block;
			text-align: center;
			border-radius: 50%;
			margin: 0 8px;
		}
	
	
	}

}	

a:hover{
	opacity: 1;
	animation: none;
}

